@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap');
.container {
    max-width: 1200px;
}
* {
  font-family: 'Poppins', sans-serif;
}
*:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
body {
  background-color: #f1f1f1;
}

.w-20 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20% !important;
            flex: 0 0 20% !important;
    max-width: 20%;
}
.w-14 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 14.285% !important;
            flex: 0 0 14.285% !important;
    max-width: 14.285%;
}
.w-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 9.09% !important;
            flex: 0 0 9.09% !important;
    max-width: 9.09%;
}
#main-header {
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: transparent;
  z-index: 9;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#main-header.fixed {
  background-color: #1F2438;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar-light .navbar-nav {
  margin-right: auto;
}

.navbar-light .navbar-nav .nav-link {
    color: #78797F;
    font-weight: 500;
    font-size: 15px;
    position: relative;
    display: block;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

}
.main-header{
    .navbar-nav{
        .nav-link{
            color: #fff;
        }
    }
}
.navbar-light .navbar-nav .nav-link:after {
  content: "";
  width: 0%;
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 2px;
  background-color: #8D735F;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #8D735F;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
/* #main-header.fixed .navbar-light .navbar-nav .nav-link:after {
  background-color: #fff;
}
#main-header.fixed .navbar-light .navbar-nav .nav-link:hover {
  color: #EC167F;
  background-color: #fff;
} */
.navbar-light .navbar-nav .nav-link:hover:after {
  width: 100%;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}


.navbar-brand {
    font-size: 24px;
}
.navbar-brand h1 {
  font-size: 28px;
  margin: 0;
  font-weight: bold;
  color: #fff;
}
.navbar-light .navbar-brand {
    font-weight: bold;
    color: #000 !important;

}
@media (min-width:992px) {
    .navbar-nav .active a {
        border-bottom: 2px solid #2e3192;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }
    .navbar-nav .nav-item:not(:last-child) {
        margin-right: 60px
    }
    
}


  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: -3px;
    border: 1px solid #0070dc;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  h2.secHeading {
    font-size: 26px;
    color: #1F2438;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
    letter-spacing: 1px;
  }
  h2.secHeading.white {
    color: #ffffff;
  }
  h3.supoortingsecHeading {
    font-size: 18px;
    color: #EC167F;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  section.banner .bannerslider .slide{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(../images/Group939.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  section.banner .bannerBg {
    width: 88vh;
    height: 73vh;
    background-size: contain;
    background-repeat: no-repeat;
  }
  section.banner .bannerText {
    width: 100%;
  }
  section.banner .bannerText .image {
    margin-top: 20%;
  }
  section.banner .bannerText .image img{
    margin: 20px auto;
  }
  
  section.banner .slick-dots {
    bottom: 85px;
  }
  section.banner .slick-dots li  {
    margin-right: 0;
    padding-right: 15px;
    position: relative;
  }
  section.banner .slick-dots li:after {
    width: 100%;
    content: "";
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -15px;
    left: -13px;
  }
  section.banner .slick-dots li.slick-active:after {
    background-color: #EC167F;
  }

  section.banner .slick-dots li a {
    font-size: 14px;
    color: #fff;
    width: 30px;
    display: block;
  }
  section.banner .slick-dots li.slick-active a {
    font-size: 18px;
  }
  
  label {
    font-size: 14px;
    color: #121212;
    font-weight: 600;
    margin-bottom: 0;
  }
  input.form-control {
    border: 1px solid #1F2438;
    border-radius: 8px;
    background-color: transparent;
    margin-bottom: 20px;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 18px;
  }
  input.form-control:focus {
    border: 1px solid #1F2438 !important;
    background-color: transparent;

  }
  textarea.form-control{
    border: 1px solid #1F2438;
    border-radius: 8px;
    background-color: transparent;
    margin-bottom: 20px;
    padding-left: 40px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 18px;
    height: 100px;
  }
  .btn.buttonSubmit {
    background-color: #1F2438;
    color: #fff;
    border: 1px solid #1F2438;
    font-size: 14px;
    display: block;
    text-align: center;
    width: 100%;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 20px auto;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .btn.buttonSubmit:hover {
    background-color: #fff;
    color: #1F2438;
    border: 1px solid #1F2438;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .btn.button-pink {
    background-color: #ffffff;
    color: #1F2438;
    border-radius: 10px;
    font-size: 14px;
    border: 1px solid #1F2438;
    padding: 10px 30px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .btn.button-pink:hover {
    background-color: #1F2438;
    color: #ffffff;
    border: 1px solid #ffffff;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  .btn.button-pink.whitebg {
    background-color: #EC167F;
    color: #ffffff;
    box-shadow: 3px 3px 12px #ccc;
    margin-left: 15px;
  }

  section.experts {
    padding: 50px 0;
  }
  section.experts h2 {
    margin-bottom: 20px;
  }
  section.experts p {
    font-size: 13px;
    color: #838486;
    width: 70%;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 30px;
  }
  section.experts .expertsBlock {
    text-align: center;
  }
  section.experts .expertsBlock .image {
    margin-bottom: 20px;
  }
  section.experts .expertsBlock .image img {
    max-width: 100%;
  }
  section.experts .expertsBlock h3 {
    font-size: 22px;
    color: #1F2438;
    font-weight: 600;
    margin-bottom: 10px;
  }
  section.experts .expertsBlock p {
    margin-bottom: 10px;
    width: 100%;
  }
  section.experts .expertsBlock ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  section.experts .expertsBlock ul li {
    margin: 0 5px;
    list-style: none;
  }

  section.blogs {
    padding: 0px 0 50px 0;
  }
  section.blogs .blogsInner {
    position: relative;
    margin-bottom: 50px;
  }
  section.blogs .blogsInner:last-child {
    margin-bottom: 0;
  }
  section.blogs .blogsInner .image img{
    max-width: 100%;
  }
  section.blogs .blogsInner .blogtext{
    padding: 30px 20px;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    top: 19%;
    width: 50%;
    z-index: 1;
    text-align: center;
  }
  section.blogs .blogsInner .blogtext.right{
    right: 0;
  }
  section.blogs .blogsInner .blogtext.left{
    left: 0;
  }
  section.blogs .blogsInner .blogtext h3{
    font-size: 22px;
    color: #1F2438;
    margin-top: 0;
    margin-bottom: 20px;
  }
  section.blogs .blogsInner .blogtext p{
    font-size: 13px;
    color: #838486;
    margin-top: 0;
    margin-bottom: 20px;
  }
  section.blogs .blogsInner .blogtext a{
    font-size: 14px;
    color: #8D735F;
    padding: 5px 10px;
    border-bottom: 1px solid #8D735F;
    border-radius: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  section.blogs .blogsInner .blogtext a:hover {
    border-bottom: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  section.ouroffer {
    padding: 50px 0px 20px 0;
    background-color: #1F2438;
    text-align: center;
  }
  section.ouroffer h2 {
    margin-bottom: 20px;
  }
  section.ouroffer p {
    font-size: 13px;
    color: #838486;
    width: 70%;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 30px;
  }
  section.ouroffer .col-md-4 .ourofferBlock {
    padding: 30px 0 20px 0;
    border-right: 1px solid #838486;
  }
  section.ouroffer .col-md-4:last-child .ourofferBlock {
    border-right: none;
  }
  section.ouroffer .ourofferBlock .image {
    margin-bottom: 20px;
  }
  section.ouroffer .ourofferBlock h3 {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
  }
  section.ouroffer .ourofferBlock h4 {
    font-size: 13px;
    color: #838486;
    width: 70%;
    margin: 0px auto;
    text-align: center;
  }

  section.gallery {
    padding: 50px 0;
  }
  section.gallery .image {
    margin-bottom: 30px;
  }
  section.gallery .image:last-child {
    margin-bottom: 0;
  }
  section.gallery .image img {
    max-width: 100%;
    margin: 0px auto;
    display: block;
  }
  section.gallery .image .ourgalleryblock{
    text-align: center;
    background-color: #1F2438;
    border-radius: 15px;
    padding: 147px 20px;
  }
  section.gallery .image .ourgalleryblock h3 {
    color: #fff;
    font-weight: 600;
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 10px;
  }
  section.gallery .image .ourgalleryblock h3:nth-child(2) {
    margin-bottom: 30px;

  }
  section.gallery .image .ourgalleryblock p {
    color: #8D735F;
    font-weight: 400;
    font-size: 13px;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 80%;
  }

  section.visitus {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../images/940.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  section.visitus h3 {
    font-size: 35px;
    color: #78797F;
    font-weight: 900;
    margin-bottom: 20px;
  }
  section.visitus h1 {
    font-size: 40px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 20px;
  }
  section.visitus .secIcon {
    position: relative;
    width: 400px;
    margin: 0px auto;
  }
  /* section.visitus .secIcon:before {
    content: "";
    width: 300px;
    position: absolute;
    height: 1px;
    background-color: #78797F;
    left: -120px;

  } */


  section.booking {
    padding: 50px 0;
  }
  section.booking .row {
    justify-content: center;
    align-items: center;
  }
  section.booking .image img {
    max-width: 100%;
    display: block;
    margin: 0px auto;
  }
  
  #top {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    bottom: 30px;
    color: #fff;
    text-align: center;
    background-color: #78797F;
    padding: 7px;
  }
  #top a{
    text-decoration: none;
    font-size: 12px;
    color: #fff;
  }
  footer {
    position: relative;
    padding: 50px 0 20px 0;
    background-color: #1F2438;
  }
  footer .footerContent {
    margin: 0px auto;
    margin-bottom: 30px;
    text-align: center;
  }
  footer .footerContent .row {
    justify-content: center;
    align-items: center;
  }
  footer h2.secHeading {
    margin-bottom: 30px;
  }
  footer .footerContent h2{
    font-size: 20px;
    color: #78797F;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 600;
  }
  
  footer .footerContent p{
    font-size: 14px;
    color: #78797F;
    margin: 0;
    font-weight: 600;
  }
 
  footer .footerBottom {
    padding-top: 20px;
    border-top: 1px solid #78797F;
  }
  footer .footerBottom p {
    font-size: 14px;
    color: #78797F;
    margin: 0;
    font-weight: 600;
    float: left;
  }
  footer .footerBottom ul {
    float: right;
  }
  footer .footerBottom ul li {
    padding-left: 10px;
    list-style: none;
    float: left;
  }


  /* slider css starts here */
  .slick-dots {
    
    min-width: 100px;
    margin: 0px auto;
    border-radius: 30px;
    position: absolute;
    left: 43.5%;
    bottom: -38px;
  }
  .slick-dots:after {
    content: "";
    display: block;
    clear: both;
  }
  .slick-dots li {
    list-style: none;
    float: left;
    margin-right: 10px;
    line-height: 0;
    height: 12px;
  }
  .slick-dots li button{
    font-size: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #E4E4E4;
    border: none;
    padding: 0;
  }
  .slick-dots li.slick-active button{
    width: 10px;
    height: 10px;
    background-color: #C2A476;
  }
  .slick-slide {
    padding: 15px 15px 0 15px;
  }
  .slick-prev {
    position: absolute;
    left: -6%;
    top: 47%;
    border: none;
    font-size: 0;
    background-color: transparent;
    background-image: url(../images/Group8.png);
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .slick-next {
    position: absolute;
    right: -6%;
    top: 47%;
    border: none;
    font-size: 0;
    background-color: transparent;
    background-image: url(../images/Group10.png);
    width: 25px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .slick-prev:hover,
  .slick-next:hover {
    opacity: 0.5;
  }

  .navbar-light .navbar-toggler {
    border-color: #78797F;
    color: #78797F;
  }
  .navbar-light .navbar-toggler-icon {
    background-image: url(../images/togglemenu.png);
    background-size: contain;
  }
  @media (min-width:991px) {
 
  }
  @media (max-width:1500px) {
    
  }
  @media only screen and (max-width: 1200px) {
    .w-9 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 11% !important;
      flex: 0 0 11% !important;
      max-width: 11%;
    }
    .slick-prev {
      left: 40%;
      top: auto;
      bottom: -29px;
    }
    .slick-next {
      right: 40%;
      top: auto;
      bottom: -29px;
    }
   
  }
  @media only screen and (max-width: 991px) {
    .w-9 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 13% !important;
      flex: 0 0 13% !important;
      max-width: 13%;
    }
    .w-14 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 20% !important;
      flex: 0 0 20% !important;
      max-width: 20%;
    }
    .navbar-light .navbar-toggler {
      margin-right: 30px;
    }
    #main-header {
      background-color: #1F2438;
    }
    section.blogs .blogsInner .blogtext {
      top: 1%;
    }
  }
  @media only screen and (max-width: 768px) {
    .w-9 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 20% !important;
      flex: 0 0 20% !important;
      max-width: 20%;
    }
    .w-14 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25% !important;
      flex: 0 0 25% !important;
      max-width: 25%;
    }
    .w-20 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50% !important;
      flex: 0 0 50% !important;
      max-width: 50%;
    }
    
    section.banner .bannerText h3 {
      font-size: 17px;
    }
    section.banner .bannerText h2 {
      font-size: 32px;
    }
    
    footer .footerContent h2 {
      margin-bottom: 20px;
      margin-top: 30px;
    }
    section.banner .slick-dots {
      padding-left: 32px;
    }
    footer .footerContent .col-md-4 {
      margin-bottom: 20px;
    }
    section.gallery .image:last-child {
      margin-bottom: 30px;
    }
    section.blogs .blogsInner .blogtext {
      position: relative;
      width: 100%;
      margin: 10px 15px;
}
    }
  
  @media only screen and (max-width: 600px) {
    .w-9 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 25% !important;
      flex: 0 0 25% !important;
      max-width: 25%;
    }
    .w-14 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50% !important;
      flex: 0 0 50% !important;
      max-width: 50%;
    }
    
  }
  @media only screen and (max-width: 480px) {
    .w-9 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50% !important;
      flex: 0 0 50% !important;
      max-width: 50%;
    }
    .w-14 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100% !important;
      flex: 0 0 100% !important;
      max-width: 100%;
    }
    .slick-dots {
      left: 33.5%;
    }
    
  }
  //BANNER OTHERS
  #banner-other-about{
      background-image: url('../images/menu/Group\ 1017.png');
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 175px;
      padding-bottom: 130px;
      p{
          color: #fff;
          font-size: 50px;
          font-weight: 600;
          margin-bottom: 0px;
          text-align: center;
      }
  }
  #banner-other-contact{
    background-image: url('../images/contact/Group\ 1020.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 175px;
    padding-bottom: 130px;
    p{
        color: #fff;
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 0px;
        text-align: center;
    }
}
  #banner-other-reserve{
    background-image: url('../images/reservation/Group 1018.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 175px;
    padding-bottom: 130px;
    p{
        color: #fff;
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 0px;
        text-align: center;
    }
}
//ORDER PAGE
#banner-other-order{
    background-image: url('../images/online\ order/Group 1019.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 175px;
    padding-bottom: 130px;
    p{
        color: #fff;
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 0px;
        text-align: center;
    }
}
#online-order{
    background-color: #fff;
    .order-menu-row{
        border: 1px solid #676767;
        border-radius: 10px;
        .order-menu{
            padding: 23px 0px;
            height: 100%;
            .menu-head{
                color: #96631F;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 20px;
                padding: 0px 20px;

            }
            ul{
                list-style-type: none;
                padding-left: 0px;
                li{
                    text-align: center;
                    font-size: 14px;
                    color: #121212;
                    line-height: 40px;
                    padding: 0px 20px;
                    cursor: pointer;
                    &:hover{
                        background-color: #F8F0EF;
                        transition: .3s;
                    }
                }
                .active{
                    background-color: #F8F0EF;
                }
            }
        }
        .order-main{
            border-left: 1px solid #676767;
            border-right: 1px solid #676767;
            padding: 0px 30px;
            padding-bottom: 30px;
            height: 100%;
            .main-head{
                text-align: center;
                color: #121212;
                font-size: 22px;
                padding-top: 30px;
            }
            .main-head-line{
                height: 2px;
                width: 100%;
                max-width: 300px;
                margin: auto;
                background-color: #67676769;
            }
            .main-type{
                text-align: center;
                color: #121212;
                font-size: 22px;
                margin-top: 15px;
            }
            .products{
                .product{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    border: 1px solid #8D735F;
                    border-radius: 10px;
                    padding: 15px;
                    text-align: center;
                    img{
                        width: 100px;
                    }
                    .head{
                        font-weight: 600;
                        color: #121212;
                        font-size: 14px;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                    .para{
                        font-size: 12px;
                        line-height: 17px;
                        color: #838486;
                    }
                    button{
                        outline: none;
                        border: 1px solid #8D735F;
                        border-radius: 5px;
                        font-size: 14px;
                        background-color: #8D735F;
                        width: 120px;
                        height: 30px;
                        color: #fff;
                        &:hover{
                            transition: .3s;
                            color: #8D735F;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
    .order-bag{
        padding: 23px 20px;
        .items-num{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #67676798;
            .head{
                color: #121212;
                font-size: 18px;
                margin-bottom: 10px;
            }
            .num{
                font-size: 14px;
                color: #676767;
                margin-bottom: 10px;
            }
        }
        img{
            width: 120px;
            display: block;
            margin: 20px auto;
        }
        .total{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            margin-bottom: 0px;
            color: #121212;
            font-size: 16px;
            max-width: 300px;
        }
        .fees{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: auto;
            margin-bottom: 0px;
            color: #121212;
            font-size: 16px;
            max-width: 300px;

        }
        button{
            outline: none;
            border: 1px solid #8D735F;
            border-radius: 5px;
            font-size: 14px;
            background-color: #8D735F;
            width: 120px;
            height: 30px;
            color: #fff;
            display: block;
            margin: 20px auto;
            &:hover{
                transition: .3s;
                color: #8D735F;
                background-color: #fff;
            }
        }
    }
}
@media screen and (max-width:991.98px){
    #online-order{
        .order-menu-row{
            .order-main{
                border-left: none;
                border-right: none;
                border-top: 1px solid #676767;
                border-bottom: 1px solid #676767;
                padding: 0px 30px;
                padding-bottom: 30px;
                height: 100%;
                
            }
        }
        
    }
}
//MENU PAGE
#banner-other-menu{
    background-image: url('../images/menu/Group\ 1016.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 175px;
    padding-bottom: 130px;
    p{
        color: #fff;
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 0px;
        text-align: center;
    }
}
#dishes-products{
    .product{
        .head{
            color: #121212;
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 0px;
        }
        .bottom{
            display: flex;
            align-items: flex-end;
            margin-top: -5px;
            .des{
                font-size: 14px;
                color: #838486;
                margin-bottom: 0px;
            }
            .line{
                flex-grow: 1;
                height: 1px;
                background-color: #83848688;
                margin-bottom: 3px;
            }
            .price{
                font-size: 20px;
                color: #121212;
                margin-bottom: 0px;
            }
        }
    }
}
#dessert-banner{
    background-image: url('../images/menu/Group\ 1015.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 175px;
    padding-bottom: 130px;
    p{
        color: #fff;
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 0px;
        text-align: center;
    }
}
#dessert-products{
    .product{
        .head{
            color: #121212;
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 0px;
        }
        .bottom{
            display: flex;
            align-items: flex-end;
            margin-top: -5px;
            .des{
                font-size: 14px;
                color: #838486;
                margin-bottom: 0px;
            }
            .line{
                flex-grow: 1;
                height: 1px;
                background-color: #83848688;
                margin-bottom: 3px;
            }
            .price{
                font-size: 20px;
                color: #121212;
                margin-bottom: 0px;
            }
        }
    }
}
#drink-banner{
    background-image: url('../images/menu/Group\ 1017.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 175px;
    padding-bottom: 130px;
    p{
        color: #fff;
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 0px;
        text-align: center;
    }
}
#drinks-products{
    .product{
        .head{
            color: #121212;
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 0px;
        }
        .bottom{
            display: flex;
            align-items: flex-end;
            margin-top: -5px;
            .des{
                font-size: 14px;
                color: #838486;
                margin-bottom: 0px;
            }
            .line{
                flex-grow: 1;
                height: 1px;
                background-color: #83848688;
                margin-bottom: 3px;
            }
            .price{
                font-size: 20px;
                color: #121212;
                margin-bottom: 0px;
            }
        }
    }
}